.contact-page{
    color: #192333;
    height: 70vh;
}

form { max-width:400px; margin:20px auto; padding-top: 30px; padding-bottom: 30px; background-color: #101d310a; border-radius: 3px; }

.feedback-input {
  color:#192333;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 20px;
  border:0;/* 
  border-radius: 5px;*/
  border-bottom:2px solid #101D31;
  background-color: #101d3100;
  line-height: 19px;
  transition: all 0.3s;
  padding: 5px;
  margin-bottom: 15px;
  width:85%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border-bottom:2px solid #0b7765; background-color: #101d3109; }

.input-error {
  color:#192333;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 20px;/* 
  border-radius: 5px; */
  line-height: 19px;
  background-color: #101d310c;
  border: 0;
  border-bottom:2px solid darkred;/* 
    */
  transition: all 0.3s;
  padding: 5px;
  margin-bottom: 15px;
  width:85%;
  box-sizing: border-box;
  outline:0;
}
.input-error:focus { border-bottom:2px solid #d10000;}

textarea {
  height: 80px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 85%;
  background:#192333;/* 
  border-radius:1px; */
  border:0;
  cursor:pointer;
  color:#EEEEEE;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#054439; }

.submit-err{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 85%;
  background:#192333;
  border-radius:2px;
  border:0;
  cursor:pointer;
  color:#EEEEEE;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
  text-align: center;
  user-select: none;
  pointer-events: none;
}
.submit-err:hover { background:#054439; }

.mail-error{
  margin-top: -0.1rem;
  color: darkred;
  font-weight: 600;
}