.navbar {
    width: 100%;
    height: 5.5rem;/* 
    background: #21325e;*/ 
    background: #101D31;
    
  }

  .greet{
    color: yellow;
  }

  .links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .navbar a {
    color: #d2e9e1;
    text-decoration: none;
    margin: 20px;
    font-size: 17px;
  }
  .navbar a:active{
    color: #defdf2;
  }
  .navbar a:hover{
    color: #ffffff;
  }
  
  
  .toggleButton {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .toggleButton svg {
    font-size: 50px;/* 
    transform: rotate(90deg); */
  }
  .toggleButton button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: #dbfff3;
    cursor: pointer;
  }
  
  #open {
    height: 100vh;
    transition: height 1.4s ease;
  }
  #open .toggleButton button{
    transition: transform 1s;
    transform: rotate(90deg);
  }
  
  
  #open .links {
    flex-direction: column;
    justify-content: flex-start;
    transition:  1.2s ease;
    margin-top: 100px;
  }
  
  #open a {
    width: 100%;
    text-align: center;
  }
  
  #close{
      transition: height 0.7s ease;
    }
  
  #close .links{
    display: block;
    display: flex;
    transition: 0.9s ease;
    }
    
  #close .toggleButton button{
    transition: transform 0.5s;
    transform: rotate(180deg);
  }
  
  @media only screen and (max-width: 900px) {
    .navbar a {
      width: 70px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .toggleButton {
      display: flex;
    }
    #close a {
      /* display: none; */
      visibility: hidden;
      opacity: 0;
      transition: 0.5s ease;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .toggleButton {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  
    #open {
      height: 100px;
    }
  
    #open .links {
      flex-direction: row;
    }
  }