.projects {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #101D31;
    margin-top: 2rem;
  }
  .projects .projectTitle {
    text-align: center;
    color:#060c14;
  }
  
  .projectList {
    width: 85vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  /* CARD STYLING */
  
  .projectItem {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 300px;
    height: 245px;
    margin: 40px;
    padding: 3px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all .1s;
    background-color: #eef0f1;
  }
  .projectItem a{
    text-decoration: none;
    color: #192333;
  }
  .projectItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in;
    cursor: auto;
    transform: scale(1.03);
  }
  
  .projectItem .proImg {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100%;
    height: 170px;/*
    border: 3px solid #192333; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .projectItem .proImg:hover {
    cursor: pointer;
  }
  
  .projectItem h2 {
    font-size: 25px;
    justify-content: space-between;
  }
  
  @media only screen and (max-width: 1300px) {
    .projectList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .projectList {
      grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .projectList {
      width: 100%;
    }
    .projectItem {
      width: 300px;/* 
      height: 300px; */
    }
  }