.project {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  a{
    text-decoration: none;
  }
  .project a p {
    font-size: medium;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    color: darkslategray;
    opacity: 70%;
  }
  
  .project h1 {
    margin-top: 20px;
    margin-bottom: 5px;
    color: #192333;
    font-size: 35px;
  }
  .project img {
    width: 700px;
    border-radius: 5px;
    
  }
  
  .project p {
    font-size: 25px;
    color: #192333;
  }
  
  .project svg {
    font-size: 60px;
    color: #192333;
  }

  @media only screen and (max-width: 800px) {
    .project img {
      width: 23rem;
    }
  }