.project {
    width: 100%;
    /* height: calc(100vh - 200px); */
    min-height: 75vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  a{
    text-decoration: none;
  }
  .project a p {
    font-size: medium;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    color: darkslategray;
    opacity: 70%;
  }
  
  .project h1 {
    margin-top: 4rem;
    margin-bottom: 5px;
    color: #101D31;
    font-size: 35px;
  }
  .project img {
    width: 700px;
    border-radius: 5px;
    
  }
  
  .project p {
    font-size: larger;
    color: #192333;
    padding-left: 2%;
    padding-right: 2%;
    line-height: 2.3rem;
  }
  
  .project svg {
    font-size: 60px;
    color: #192333;
  }
  p > a {
    color: hotpink;
    margin-top: 50px;
  }
  .pvskill{
    margin-bottom: 0;
  }
  .description{
    width: 60%;
    display: flex;
    margin-inline: auto;
    justify-content: center;
    border-top: 1px solid #101d3157;
    margin-top: 2rem;
  }
  .description p {
    text-align: left;
    line-height: 2.5rem;
    font-size: large;
    color: black;
  }
  #pvst{
    font-size: large;
  }

  .blink{
    animation: blink-1 3s infinite both;
  }
  @keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }

  @media only screen and (max-width: 800px) {
    .project img {
      width: 23rem;
    }
    .project h3{
      padding-inline: 1rem;
    }
    .description {
      width: 90%;
      margin-inline: 1.5rem;
    }
    .description p{
      font-size: medium;
    }
  }
