.App {
  text-align: center;
  /* background-color: #f3f9fd; */
  background-color: #dee1e4;
  width: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
}
::-webkit-scrollbar{
  width: 7px;
}
::-webkit-scrollbar-thumb{
  background: #4ecca2ab;
}
::-webkit-scrollbar-track-piece{
  background: #101D31;
}
